// Download styles
.wallpapers {
    .content {
        margin: 5px 0;
        .wallpapers-container {
            display: flex;
            justify-content: space-evenly;
            flex-flow: wrap;
            img {
                width: 250px;
                padding: 20px;
            }
        }
    }
}


@media (min-width: @screen-xxs) and (max-width: @screen-xxs-max) {
    .wallpapers {
        .content {
            margin: 5px 0;
            img {
                padding: 10px;
            }
        }
    }
}
