<div class="row no-gutters text-center">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="back-solido-oscuro claro" ng-style="{'height': windowHeight }">
			<span class="indicador claro"><p>L</p></span>
			<h1 class="titulo-detalle">{{ 'AUTHORS.AUTHOR_1.NAME' | translate }}</h1>
			<p class="contenido">
				{{ 'AUTHORS.AUTHOR_1.LIFE' | translate }}
			</p>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
		<div class="back-degrade-izq" ng-style="{'height': windowHeight }">
			<zoom-image file="img/thumb-lovecraft.png"></zoom-image>
		</div>
	</div>
</div>
