<div>
  <div class="row no-gutters text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <div class="back-degrade-der" ng-style="{'height': windowHeight }">
          <zoom-image file="img/thumb-ziperart.png"></zoom-image>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="back-solido-oscuro claro" ng-style="{'height': windowHeight }">
        <span class="indicador claro"><p>Z</p></span>
        <h1 class="titulo-detalle">{{ 'ILLUSTRATORS.ILLUSTRATOR_1.NAME' | translate }}</h1>
        <p class="contenido">
          {{ 'ILLUSTRATORS.ILLUSTRATOR_1.LIFE' | translate }}
        </p>
        <h3 class="link-portfolio">
          <a href="//www.instagram.com/ziperarte/" target="_blank">
            {{ ('ILLUSTRATORS.SEE_PORTFOLIO' | translate).toUpperCase() }}
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
