<div>
  <div class="row no-gutters text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="back-degrade-der oscuro" ng-style="{'height': windowHeight }">
        <span class="indicador oscuro"><p>N</p></span>
        <h1 class="titulo-seccion">{{ "ABOUT_US.TITLE" | translate }}</h1>
        <span class="separador"></span>
        <p class="contenido largo oscuro">
          {{ "ABOUT_US.CONTENT" | translate }}
        </p>
        <span class="separador"></span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <div class="back-solido-oscuro" ng-style="{'height': windowHeight }">
        <div class="">
          <img class="dibujo" style="padding-top: 15%;" src="img/logoblanco.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
