<div class="row no-gutters text-center">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="back-solido-oscuro claro" >
			<span class="indicador claro"><p>A</p></span>
			<h1 class="titulo-seccion">{{ "AUTHORS.TITLE" | translate }}</h1>
			<span class="separador"></span>
			<div class="item">
				<h2 class="titulo-item">
					<a href="#!/authors/lovecraft">
						{{ 'AUTHORS.AUTHOR_1.NAME' | translate }}
					</a>
				</h2>
			</div>
			<span class="separador"></span>
		</div>
	</div>
</div>
