<div>
	<div class="row no-gutters text-center">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="back-degrade-sup altura-full" ng-style="{'height': windowHeight }">
				<span class="indicador oscuro">
          			<p>O</p>
        		</span>
				<h1 class="titulo-seccion" style="margin-top: 2%; margin-bottom: 0;">
					{{ "BOOKS.TITLE" | translate }}
				</h1>
				<span class="separador"></span>
				<div class="row no-gutters">
					<div class="col-lg-6 col-sm-12">
						<div class="item libro">
							<a href="#!/books/lovecraft1">
                				<img class="tapa-libro" src="img/tapa.png" alt="" />
                				<h2 class="titulo-item">{{ 'BOOKS.LOVECRAFT1.NAME' | translate }}</h2>
              				</a>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div class="item libro">
							<a href="#!/books/lovecraft2">
                				<img class="tapa-libro" src="img/tapa.png" alt="" />
                				<h2 class="titulo-item">{{ 'BOOKS.LOVECRAFT2.NAME' | translate }}</h2>
              				</a>
						</div>
					</div>
				</div>
				<span class="separador"></span>
			</div>
		</div>
	</div>
</div>
