<div class="row no-gutters text-center">
	<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
		<div class="background-contacto claro" >
			<span class="indicador claro"><p>C</p></span>
			<h1 class="titulo-seccion">{{ "CONTACT.TITLE" | translate }}</h1>
			<span class="separador"></span>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="back-degrade-izq" style="display: flex;" >
			<form name="fContacto" id="fContacto" submit="" class="form-contacto">
				<div class="name-field">
					<label for="nombre">*{{ "CONTACT.FIELDS.NAME" | translate }}</label>
					<input type="text" name="nombre" value="" ng-model="form.name">
				</div>
				<div class="email-field">
					<label for="email">*{{ "CONTACT.FIELDS.EMAIL" | translate }}</label>
					<input type="text" name="email" value="" ng-model="form.email">
				</div>
				<div class="msg-field">
					<label for="mensaje">*{{ "CONTACT.FIELDS.MSG" | translate }}</label>
					<textarea name="mensaje" rows="5" cols="40" ng-model="form.msg"></textarea>
				</div>
				<div class="error">
					<span id="msg-error" class="error-text" ng-if="hasMessage">{{ messageText | translate }}</span>
				</div>
				<button type="submit" id="btnSubmit" name="enviar" class="button" ng-click="sendEmail();">{{ ("CONTACT.BUTTONS.SEND" | translate).toUpperCase() }}</button>
			</form>
			<span class="separador-verti"></span>
			<div class="contacto-datos pull-right">
				<div class="mail">
					<p>info@avantilibros.com</p>
				</div>
			</div>
		</div>
	</div>
</div>
