<div class="row no-gutters text-center download">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="background back-degrade-sup altura-full">
			<span class="indicador oscuro">
				<p>D</p>
			</span>
			<h1 class="titulo-seccion" style="margin-top: 2%; margin-bottom: 0;">
				{{ "DOWNLOADS.TITLE" | translate }}
			</h1>
			<span class="separador"></span>

			<div class="row no-gutters">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item pointer"1>
					<h2 class="titulo-item pointer">
						<a href 
							downloadable 
							downloadable-path="{{ 'assets/tales/' }}" 
							downloadable-name="{{ 'CIUDAD-SIN-NOMBRE.pdf' }}"> 
							{{ "DOWNLOADS.TALES" | translate }} 
						</a>
					</h2>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item pointer">
					<h2 class="titulo-item pointer">
						<a href ng-click="redirectTo('/wallpapers')">
							{{ "DOWNLOADS.WALLPAPERS" | translate }}
						</a>
					</h2>
				</div>
			</div>
			<span class="separador"></span>
		</div>
	</div>
</div>
