<div class="row no-gutters text-center">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="back-degrade-sup" >
			<span class="indicador oscuro"><p>I</p></span>
			<h1 class="titulo-seccion">{{ "ILLUSTRATORS.TITLE" | translate }}</h1>
			<span class="separador"></span>
			<div class="">
				<div class="item">
					<h2 class="titulo-item">
						<a href="#!/illustrators/ziperart">
							{{ 'ILLUSTRATORS.ILLUSTRATOR_1.NAME' | translate }}
						</a>
					</h2>
				</div>
			</div>
			<span class="separador"></span>
		</div>
	</div>
</div>
