<div class="row no-gutters text-center wallpapers" ng-controller="downloadCtlr">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="background back-degrade-sup altura-full" >
			<span class="indicador oscuro">
				<p>D</p>
			</span>
			<h1 class="titulo-seccion" style="margin-top: 2%; margin-bottom: 0;">
				{{ "DOWNLOADS.WALLPAPERS" | translate }}
			</h1>
			<span class="separador"></span>
			<div class="row no-gutters content">
				<div class="col-lg-1 col-md-1 col-sm-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-repeat="wp in [0, 1, 2, 3, 4]">
					<img class="pointer" ng-click="openDownloadRequest($index)" ng-src="{{ 'img/wallpapers/' + ($index + 1) + '.png' }}" alt="">
				</div>
			</div>
			<span class="separador"></span>
		</div>
	</div>
</div>
