<div class="menu-mobile-container">
  <div class="lengueta">
    <p>{{ ('MENU' | translate).toUpperCase() }}</p>
  </div>
  <div class="menu-mobile">
    <span class="opcion st1" ng-click="linkTo('/about-us')">
      <p class="ocultar">{{ ('ABOUT_US.TITLE' | translate).toUpperCase() }}</p>
    </span>
    <span class="opcion st2" ng-click="linkTo('/authors')">
      <p class="ocultar">{{ ('AUTHORS.TITLE' | translate).toUpperCase() }}</p>
    </span>
    <span class="opcion st3" ng-click="linkTo('/illustrators')">
      <p class="ocultar">{{ ('ILLUSTRATORS.TITLE' | translate).toUpperCase() }}</p>
    </span>
    <span class="opcion st4" ng-click="linkTo('/books')">
      <p class="ocultar">{{ ('BOOKS.TITLE' | translate).toUpperCase() }}</p>
    </span>
    <span class="opcion st5" ng-click="linkTo('/shops')">
      <p class="ocultar">{{ ('SHOPS.TITLE' | translate).toUpperCase() }}</p>
    </span>
    <span class="opcion st6" ng-click="linkTo('/contact')">
      <p class="ocultar">{{ ('CONTACT.TITLE' | translate).toUpperCase() }}</p>
    </span>
  </div>
</div>
