<button id="btnPresentation" class="button" style="width: 50%;">{{ ('LOOK_INSIDE' | translate).toUpperCase() }}</button>
<div id="slide-window">
  <ol id="slides" start="1">
    <li class="slide alive" style="background-image:url(img/gallery/slide_1.png);"></li>
    <li class="slide" style="background-image:url(img/gallery/slide_2.png);"></li>
    <li class="slide" style="background-image:url(img/gallery/slide_3.png);"></li>
    <li class="slide" style="background-image:url(img/gallery/slide_4.png);"></li>
    <li class="slide" style="background-image:url(img/gallery/slide_5.png);"></li>
  </ol>
  <span class="slide-control close" ng-click="closePresentation()">
    <img src="img/icons/close.png" alt="Cerrar">
  </span>
  <span class="slide-control left" id="btnPrevious">
    <img src="img/icons/anterior.png" alt="Anterior">
  </span>
  <span class="slide-control right" id="btnNext">
    <img src="img/icons/siguiente.png" alt="Siguiente">
  </span>
</div>
