<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ 'DOWNLOADS.TITLE' | translate }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">

            <div class="form-group">
                <label class="col-form-label" for="name">{{ 'DOWNLOADS.FORM.NAME' | translate }}</label>
                <input type="text" class="form-control" id="name" ng-model="user.name">
                <div class="error" style="position: absolute; color: red;" ng-show="errors.name">
                    {{ 'DOWNLOADS.FORM.VALIDATION_MSGS.REQUIRED_FIELD' | translate }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="surname">{{ 'DOWNLOADS.FORM.SURNAME' | translate }}</label>
                <input type="text" class="form-control" id="surname" ng-model="user.surname">
                <div class="error" style="position: absolute; color: red;" ng-show="errors.surname">
                    {{ 'DOWNLOADS.FORM.VALIDATION_MSGS.REQUIRED_FIELD' | translate }}
                </div>
            </div>

            <div class="form-group">
                <label for="email">{{ 'DOWNLOADS.FORM.EMAIL' | translate }}</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{ DOWNLOADS.FORM.EMAIL | translate }}" ng-model="user.email">
                <div class="error" style="position: absolute; color: red;" ng-show="errors.email">
                    {{ emailError }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="country">{{ 'DOWNLOADS.FORM.COUNTRY' | translate }}</label>
                <input type="text" class="form-control" id="country" ng-model="user.country">
                <div class="error" style="position: absolute; color: red;" ng-show="errors.country">
                    {{ 'DOWNLOADS.FORM.VALIDATION_MSGS.REQUIRED_FIELD' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="city">{{ 'DOWNLOADS.FORM.CITY' | translate }}</label>
                <input type="text" class="form-control" id="city" ng-model="user.city" required>
                <div class="error" style="position: absolute; color: red;" ng-show="errors.city">
                    {{ 'DOWNLOADS.FORM.VALIDATION_MSGS.REQUIRED_FIELD' | translate }}
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
